<nav data-spy="scroll" class="navbar navbar-expand-xl sticky-top">
    <a class="logo" href="/dashboard"><img src="https://i.imgur.com/LRKdmoz.png" id="logo" />  </a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContentXL" aria-controls="navbarSupportedContentXL" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContentXL">
        <ul class="navbar-nav mr-auto">
            <li id="arrow_box" class="nav-item ">
                <a class="btn" href="/dashboard">Home </a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/report">Report</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/exchanges">Exchanges</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/graph">Graph</a>
            </li>

            <li class="nav-item">
                <a class="btn" href="/news">News</a>
            </li>
            <li class="nav-item active">
                <a class="btn" href="/forum">Forum</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/coin">About Coins</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/about">About Us</a>
            </li>

        </ul>
        <header class="header-bar mb-2">
            <div class="container d-flex flex-column flex-md-row align-items-center p-2">
                <div class="flex-row my-2 my-md-0">

                    <strong style="color: white;text-transform: capitalize;">Hi,<a class="mr-2"
                            id="navusername">{{username}}</a></strong>
                    <form action="/logout" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">Sign Out</button>
                    </form>
                </div>
            </div>
        </header>
    </div>
</nav>

<nav class="navbar navbar-expand-sm " style="background-color: rgb(194, 183, 183); ">
    <div class="navbar-nav mx-auto">
        <a class="btn nav-item nav-link" style="color:rgb(66, 57, 57);" href="/gambling"><b>Gambling</b></a>
        <a class="btn nav-item nav-link" style="color:rgb(66, 57, 57);" href="/wallet"><b>Wallets</b></a>
        <a class="btn nav-item nav-link" style="color:rgb(66, 57, 57);" href="/mining"><b>Mining</b></a>
    </div>
</nav>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1 style="text-align: center;"><strong>FORUM</strong></h1>
            <br>
            <br>

            <h3 style="text-align: center;"><span>Hello! <strong>{{username}}</strong> what's on your
                    mind?</strong></span></h3>
            <form action="/forum" method="POST" autocomplete="off">
                <input type="hidden" name="_id" value="{{forum._id}}">
                <div class="form-group" style="margin-top:10%;">

                    <label>Topic</label>
                    <input type="text" class="form-control" name="name" placeholder="Topic" value="{{forum.name}}">
                    <div class="text-danger">
                        {{forum.nameError}} </div>
                </div>
                <div class="form-group" style="margin-top: 5%;">
                    <label>Comments</label>
                    <textarea class="form-control " name="comments" placeholder="Add your comments here.."
                        value="{{forum.comments}}">
</textarea>
                    <div class="text-danger">
                        {{forum.commentsError}} </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" href="/forum/list">Submit</button>&nbsp;
                    <a class="btn btn-info" href="/forum/list">View All</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<br>
<br>
<br>
<br>
<br>
<br>

<footer></footer>